/*************************** COLOR PALLETE *******************************************/

:root {
    --bannerBorder: #797979;
    --background: #1d1d1d;
    --backgroundDarker: #0f0f0f;
    --textColor: #fff;
    --navBackground: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}